{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-dark navbar-expand-lg bg-dark px-5 py-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Rmash</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto mr-3 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item mr-2">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
        </ul>
        
        {% if request.user.email %}
            <a href="{% url 'logout-user' %}" class="btn btn-outline-primary bg-primary text-white px-4">{{requeset.user.email}} logout</a>
        {% else %}
            <a href="{% url 'home' %}" class="btn btn-outline-primary bg-primary text-white px-4">Login</a>
        {% endif %}
        </div>
    </div>
</nav>